@import "tailwindcss";
* {
  box-sizing: border-box;
}
body {
  min-height: 100vh;
}
.title {
  color: #ff8017;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
}
.anio {
  font-family: "brush script mt", cursive;
  color: rgb(0, 0, 2);
  font-weight: 400;
  font-size: 80px;
  transform: rotate(-5deg);

  font-style: oblique;
}
.navbar-li:hover {
  color: #ff8017;
  transition: all 0.2s ease-in-out;
  transform: scale3d(1.1, 1.1, 1.1);
  cursor: pointer;
}
.object-fit-fill {
  object-fit: fill;
}

.object-fit-contain {
  object-fit: contain;
}

.object-fit-cover {
  object-fit: cover;
  background-color: #ff8017;
}

.object-fit-none {
  object-fit: none;
}

.object-fit-scale-down {
  object-fit: scale-down;
}
.item{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
   gap: 6px;
}

.admin-li{
    padding-inline: 3;
    padding-block: 2;
    border-bottom: 6px solid transparent;
}
.admin-li:hover{
  border-bottom: 6px solid #ff8017;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

.admin-li-active{
    border-bottom: 6px solid #ff8017;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}
.axis-item{
  font-size: 20px;
  color:white;
  font-style: normal;
  cursor:default;
}
.axis-item:hover{
color:black;

}

.img-student{
  width: 280px;
  height: 250px;
  border-radius: 15px;
  

}

@media (max-width:768px){
  
}
